//Grid:

.grid {
  @include e(row) {
      display: block;
  		padding: .2em;
    @include mq(medium) {
      @include flexy(flex, row);
      margin-bottom: em(8px);
      margin:auto;
    }
  }
  @include e(col) {
    @include colours($grid-colors);
    margin-top: em(8px);
    margin-bottom: em(8px);
  }
  }

// Flex-item loop for flex grow
@include mq(medium) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(1024px*calc(#{$i}/12));
    }
  }
}


[class^="grid__col--"] {
    margin-top: em(8px);
    margin-bottom: em(8px);
    @extend %col;
    @include mq(medium) {
    @include doubly(20px);
    @include flexy($justify: spacearound);
  }
}
