//Images
.img {
	@include m(frame) {
		@extend %img-display;
		border: 1px solid lighten($grey, 20%);
		padding: .5em;
		width: 100%;
		margin-top: em(10px);
		@include mq(medium){
			width: 410px;
			height: 200px;
		}
	}
	@include m(avatar) {
		@extend %img-display;
		@extend %center-align;
		width: 199px;
		height: 199px;
		padding: 0;
		margin: 0 auto;

	}
	@include m(logo){
		@extend %img-display;
		@include mq(medium) {
			float:left;
			margin-left: em(40px);
		}
	}
	@include m(work){
		@extend %center-align;
		width: em(229px);
		height: em(179px);
		}

}

.svg {
	margin-top: -60px;
}

.img--atlas {
	@extend %center-align;
	width: em(289px);
	height: em(179px);
	}

.icon {
	margin-left: 2em;
	max-width: em(50px);
	max-height: em(50px);
	@include mq(small) {
		display: none;
	}
}














//.img--frame
//.img--avatar
