//Images
.img {
	@include m(frame) {
		@extend %img-display;
		border: 1px solid lighten($grey, 20%);
		padding: .5em;
		width: 100%;
		margin-top: em(10px);
		@include mq(medium){
			width: 410px;
			height: 200px;
		}
	}
	@include m(avatar) {
		@extend %img-display;
		@extend %center-align;
		width: 199px;
		height: 199px;
		padding: 0;
		margin: 0 auto;

	}
	@include m(logo){
		@extend %img-display;
		@include mq(medium) {
			float:left;
			margin-left: em(40px);
		}
	}
}

.work {
	width: em(229px);
	height: em(179px);
	margin-left: auto;
	margin-right: auto;
}

.svgs {
	margin-bottom: em(-30px);
}

.svg {
	margin-top: em(-40px);
	margin-bottom: em(20px);
}

.img--atlas {
	@extend %center-align;
	width: em(289px);
	height: em(179px);
	}

.icon {
	margin-left: 2em;
	max-width: em(50px);
	max-height: em(50px);
	@include mq(small) {
		display: none;
	}
}

///Atlas animation

/* Keyframes */

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes textGrow {
    0% {
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.05);
    }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(1080deg);
		}
}
/* Transitions */

#atlas:hover .diamond {
	animation: rotation 2s ease-out;
  transform-origin: 50.5% 14.5%;
 }

#atlas:hover .text {  animation: textGrow 2s ease-in-out;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

#atlas:hover .outline {
	stroke-dasharray: 485;
	stroke-dashoffset: 485;
	animation: offset 1.5s linear forwards;
}
